@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    --sb-track-color: #0d1438;
    --sb-thumb-color: #eb2952;
    --sb-size: 10px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 17px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 17px;
    border: 1px solid #0d1438;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }